
<p>Dear members, </p>
 
<p>You have successfully registered into the tennis practice session {{session_number}}, please find the details below: </p>
 
<p><b>Session {{session_number}} </b></p>
<p><b>Date: </b>{{date}}</p>
<p><b>Time: </b>{{time}}</p>
<p><b>Venue: </b>Courts 1&2 by seafront</p>
 
 
<h3>Membership: </h3>
<p>You are reminded to bring the membership fee when you attend your first session.</p>
<p><u>1 year membership:</u> 100 HKD </p>
<p><u>4 year membership:</u> 300 HKD </p>
 
<p><b style="color:red">WARNING:</b> </p>
<p>Canceling your registration may result in a temporary suspension of your membership. Please be respectful to others!  </p>
 
<p>Best,</p>
<p>Looking forward to seeing you all! </p>
<p>The Tennis society</p>
