{% autoescape off %}
Dear members,
 
You have successfully registered into the tennis practice session {{session_number}}, please find the details below:
 
<b>Session {{session_number}} </b>
<b>Date: </b>{{date}}
<b>Time: </b>{{time}}
<b>Venue: </b>Courts 1&2 by seafront
 
 
<h3>Membership: </h3>
You are reminded to bring the membership fee when you attend your first session.
<u>1 year membership:</u> 100 HKD
<u>4 year membership:</u> 300 HKD
 
<b style="color:red">WARNING:</b>
Canceling your registration may result in a temporary suspension of your membership. Please be respectful to others!
 
Best,
Looking forward to seeing you all!
The Tennis society

{% endautoescape %}