{% extends 'registeringmaster.html' %}
{% load static %}

{% block title %}
Thank you page
{% endblock %}

{% block content %}

<img  class="backgroundImage" src="{% static 'images/campus-front.jpg'%}" alt="campus-front-image">

    <div class="absoluteWrapper large-up-padding">
        <div class="container-fluid large-up-padding formContainer">
            <div class="row justify-content-center ">
                <div class="col-12">
                    <h3 class="heading"> Thank you, please check your email at: {{ email }} to activate your account </h3>
                    <h4 style="color:red;text-align:center"> CHECK YOUR SPAM/JUNK FOLDER</h4>
                    <h5 style="text-align:center"> We will contact you for membership details</h5>
                    <a href="/login"> return to Log in page </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}