{% extends 'mainmaster.html' %}
{% load static %}

{% block title %}
Manage Sessions
{% endblock %}


{% block content  %}

<img class="ballImage" src="{% static 'images/tennisBall.png' %}" alt="tennis ball" >
<img class="manImage" src="{% static 'images/cartoonMan.png' %}" alt="cartoon man playing tennis" >


<div class="container-fluid appContainer">
    <div class="row gy-5 gx-3 mx-0  align-items-start justify-content-start" style="margin-top: 5px;">
        <div class="col-5 mx-2 col-md-2 d-grid text-center" >
            <a href="/" class="btn btn-outline-success btn-lg appContent">Home</a>
        </div> 
    </div>
    <div class="row gy-5 gx-5 mx-0 mx-sm-5  align-items-start justify-content-around  bottom-padding up-padding ">
        <div class="col-12 d-grid gap-4 text-center appContent py-4">
            {% if messages %}
            <div class=" mt-3 mb-3 messages">
                {% for message in messages %}
                <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <h5 style="font-weight:bold">Process a payment:</h5>
            {% if all_sessions_students %}
            <form action="/processPayment" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <select required name="student_email" class="form-select" aria-label="studentEmailSelect">
                        {% for student in all_sessions_students %}
                            {% if student.member_email.paid != 1 %}
                                <option value="{{student.member_email.email}}"> {{student.member_email.english_name}}, {{ student.member_email.email }} </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="membership_duration"  class="form-label">Select membership duration:</label>
                    <input required placeholder="Membership duration (in years)" name="membership_duration" type="number" class="form-control" id="membership_duration" aria-describedby="membershipDuration">
                </div>
                <button type="submit" class="btn btn-primary mt-3">Process payment</button>
                {% endif %}
            </form>
            
        </div>

    </div>
    <div class="row gy-5 gx-5 mx-0 mx-sm-5  align-items-start justify-content-around  bottom-padding up-padding large-bottom-margin">
        <div class="col-12 d-grid gap-4 text-center appContent py-4">
            <h5 style="font-weight:bold">Session 1 expected students:</h5>
            {% for student in session1_expected %}
                {% if student.member_email.paid != 1 %}
                <a href="processAttendance/{{student.id}}" class="btn btn-lg btn-outline-danger manageButton"> 
                    {{ student.member_email.english_name }}, {{ student.member_email.email }}</a>
                {% else  %}
                <a href="processAttendance/{{student.id}}" class="btn btn-lg btn-outline-success manageButton"> 
                    {{ student.member_email.english_name }}, {{ student.member_email.email }}</a>
                {% endif %}
            {% endfor %}
        </div> 
        <div class="col-12 d-grid text-center appContent py-4">
            <h5 style="font-weight:bold">Session 1 attended students:</h5>
            {% for student in session1_attended %}
                {% if student.member_email.paid != 1 %}
                <a href="processAttendance/{{student.id}}" class="btn btn-lg btn-outline-danger manageButton"> 
                    {{ student.member_email.english_name }}, {{ student.member_email.email }}</a>
                {% else  %}
                <a href="processAttendance/{{student.id}}" class="btn btn-lg btn-outline-success manageButton"> 
                    {{ student.member_email.english_name }}, {{ student.member_email.email }}</a>
                {% endif %}
            {% endfor %}
        </div> 
        <div class="col-12 d-grid gap-4 text-center appContent py-4">
            <h5 style="font-weight:bold">Session 2 expected students:</h5>
            {% for student in session2_expected %}
                {% if student.member_email.paid != 1 %}
                <a href="processAttendance/{{student.id}}" class="btn btn-lg btn-outline-danger manageButton"> 
                    {{ student.member_email.english_name }}, {{ student.member_email.email }}</a>
                {% else  %}
                <a href="processAttendance/{{student.id}}" class="btn btn-lg btn-outline-success manageButton"> 
                    {{ student.member_email.english_name }}, {{ student.member_email.email }}</a>
                {% endif %}
            {% endfor %}
        </div> 
        <div class="col-12 d-grid text-center appContent py-4">
            <h5 style="font-weight:bold">Session 2 attended students:</h5>
            {% for student in session2_attended %}
                {% if student.member_email.paid != 1 %}
                <a href="processAttendance/{{student.id}}" class="btn btn-lg btn-outline-danger manageButton"> 
                    {{ student.member_email.english_name }}, {{ student.member_email.email }}</a>
                {% else  %}
                <a href="processAttendance/{{student.id}}" class="btn btn-lg btn-outline-success manageButton"> 
                    {{ student.member_email.english_name }}, {{ student.member_email.email }}</a>
                {% endif %}
            {% endfor %}
        </div> 

    </div>
    
    

</div>

{% endblock %}